@mixin grids{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 40px;
    text-align: center;
}

@mixin flexgrids {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

@mixin gridsNosotros{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    padding: 40px;
    text-align: center;
}

$colorceleste: steelblue;


$colorespagina:(/* COLORES EN LA PAGINA */
    celeste: steelblue,
    grisAcio: #1e2227,
    blancoCremita: #ccc,
    blancox: white,
);

@each $color, $valor in $colorespagina {
    .coloresgenericos--#{$color}{
        background-color: $valor;
    }
}


$colorletra:(/* COLORES EN LA PAGINA */
    Letraceleste: steelblue,
    LetragrisAcio: #1e2227,
    LetrablancoCremita: #ccc,
    LetraBlanca: white,
);

@each $color,$valor in $colorletra{
    .colorletra--#{$color}{
        color: $valor;
    }
}




