@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*BARRA DE NAVEGACIÓN */
nav a {
  color: #fff;
}

.contenido {
  width: 100%;
  height: 100%;
  background: #1e2227;
  color: #fff;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 8%;
  position: relative;
  top: 0;
  width: 100%;
  background: #1e2227;
  z-index: 1;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.nav-icons img {
  width: 30px;
  margin-left: 30px;
  cursor: pointer;
  position: relative;
}

#menu li > a {
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 110px;
}

#menu li > a:hover {
  color: #000;
  background-color: #eaeaea;
}

#menu > li {
  float: left;
  text-align: center;
}

ul {
  list-style: none;
  padding-top: 1rem;
}

/* CONTENIDO PRINCIPAL */
.fila-1, .fila2 {
  height: 90%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: cadetblue;
}

.columna1, .columna2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.columna2 {
  background: steelblue;
  padding-top: 50px;
  position: relative;
}

.columna1 {
  background: #1e2227;
  padding-left: 8%;
  padding-right: 8%;
}

.columna1 h1 {
  font-size: 74px;
  line-height: 100px;
  margin-bottom: 5px;
  padding-top: 20px;
}

.columna1 h2 {
  font-size: 35px;
  margin-top: 60px;
  font-weight: 500;
}

button {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 18px 50px;
  background-color: steelblue;
  color: #fff;
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
}

/* IMAGEN SHORT */
.rasgos-img {
  width: 100%;
  text-align: center;
}

.rasgos-img img {
  width: 60%;
}

.small-img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 40px auto 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.img-chica {
  width: 80px;
  height: 80px;
  background: #ccc;
  margin-bottom: 64px;
}

.img-chica img {
  width: 120px;
}

.columna2 h2 {
  position: absolute;
  left: 5%;
  top: 12%;
  font-size: 130px;
  opacity: 0.3;
}

/* -----  PRODUCTOS */
.columna3, .columna4 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.columna3 {
  background: steelblue;
  padding-left: 8%;
  padding-right: 8%;
}

.columna4 {
  background: #1e2227;
  padding-top: 50px;
}

.columna3 h1 {
  font-size: 74px;
  line-height: 100px;
  margin-bottom: 5px;
  padding-bottom: 80px;
}

/* GRILLA COLUMNA 3 */
.columna3grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-column-gap: 45px;
          column-gap: 45px;
  row-gap: 120px;
  padding-left: 50px;
  padding-right: 50px;
}

.columna3grid img {
  width: 100%;
  height: 100%;
  padding-left: 15px;
}

.columna3grid div {
  background: steelblue;
  width: 100%;
}

.columna3grid p {
  color: white;
  text-align: center;
  background-color: #3f3d47;
  margin-bottom: 0;
}

/* MEDIA QUERIES INDEX */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .fila-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .columna1, .columna2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #button {
    margin-bottom: 30px;
  }
  .columna1 h1 {
    font-size: 53px;
    line-height: 70px;
    margin-bottom: 5px;
    padding-left: 8%;
    padding-right: 8%;
  }
  .small-img-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .caja1, .caja2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 20px;
  }
  .img-chica {
    margin: 20px;
  }
  .columna2 h2 {
    position: absolute;
    left: 5%;
    top: 12%;
    font-size: 80px;
    opacity: 0.3;
  }
  nav ul {
    display: none;
  }
  nav, .columna1 h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .columna1 {
    padding-left: 0%;
  }
  .columna1 p {
    padding-left: 8%;
    padding-right: 8%;
  }
  /* PRODUCTOS */
  .fila2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .columna3, .columna4 {
    display: block;
  }
  .columna3 h1 {
    font-size: 49px;
    line-height: 70px;
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: center;
  }
  .columna3grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #1e2227;
  }
  .columna3grid div {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .columna3grid div img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .columna3 p {
    text-align: center;
    margin-bottom: 15px;
  }
}

/* MARCAS */
.filaMarcas {
  background-color: steelblue;
}

.filaMarcas h1 {
  font-size: 49px;
  line-height: 70px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
  background-color: steelblue;
}

/* GRID MARCAS */
.gridMarcas {
  background-color: steelblue;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 40px;
  text-align: center;
}

.gridMarcas div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1e2227;
}

.gridMarcas img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
  height: 200px;
  padding: 20px;
}

.gridMarcas p {
  padding: 20px;
}

/* PRUEBA MENU HAMBURGUESA */
.topnav {
  display: none;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .topnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .topnav a {
    font-size: 13px;
  }
}

/* TERMINO LA PRUEBA */
/* NOSOTROS */
.filaNosotros h1 {
  font-size: 49px;
  line-height: 70px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
  background-color: steelblue;
  color: white;
}

.gridNosotros {
  background-color: steelblue;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  padding: 40px;
  text-align: center;
}

.gridNosotros div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1e2227;
}

.gridNosotros img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 250px;
  height: 250px;
  padding: 20px;
}

.gridNosotros p {
  padding: 20px;
  color: white;
}


/* PANEL DE CLIENTES */

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitBtn:hover {
  background-color: #9867C5;
  transform: translateY(-2px);
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: purple;
}

.input:focus {
  border: 2px solid purple;
}

.input:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.loginPanel{
  background-color:  steelblue;
}

/* . */ 


/*# sourceMappingURL=style.css.map */