@import "variable";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*ANIDE CASI TODO CON TODO // OSEA ESTO SERIA TODO LA PAGINA PRINCIPAL */
  
  .contenido {
    width: 100%;
    height: 100%;
    background:  map-get($colorespagina, grisAcio);
    color: map-get($colorletra, LetraBlanca);
    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 30px 8%;
        position: relative;
        top: 0;
        width: 100%;
        background:  map-get($colorespagina, grisAcio);
        z-index: 1;
        ul {
            list-style: none;
            padding-top: 1rem;
            a {
                color: map-get($colorletra, LetraBlanca);
              }
          }
        .logo {
            width: 120px;
            cursor: pointer;
            color: white;
          }
      }
      .fila-1{
        height: 90%;
        width: 100%;
        display: flex ;
        background-color: cadetblue;
        .columna1{
            background-color:  map-get($colorespagina, grisAcio);
            padding-left: 8%;
            flex-basis: 50% ;
            display: flex;
            justify-content: center;
            flex-direction: column;
            h1{
                font-size: 74px;
                line-height: 100px;
                margin-bottom: 5px;
            }
            h2{
                font-size: 35px;
                margin-top: 60px;
                font-weight: 500;
            }
            button{
                display: inline-block;
                width: fit-content;
                padding: 18px 50px;
                background-color: map-get($colorespagina, celeste) ;
                color: map-get($colorletra, LetraBlanca);
                font-size: 18px;
                margin-top: 30px;
                cursor: pointer;
            }
        }
        .columna2{
            background-color:  map-get($colorespagina, celeste);
            padding-top: 50px;
            position: relative;
            flex-basis: 50% ;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .rasgos-img{
                width: 100%;
                text-align: center;
                img{
                    width: 60%;
                }
            }
            .small-img-row{
                display: flex ;
                width: 80%;
                margin: 40px auto 0;
                align-items: center;
                justify-content: space-around;
                .img-chica{
                    width: 80px;
                    height: 80px;
                    background-color: map-get($colorespagina , blancoCremita);
                    margin-bottom: 64px;
                    img{
                        width: 120px;
                    }
                }
            }
            h2{
                position: absolute ;
                left: 5%;
                top: 12% ;
                font-size: 130px;
                opacity: 0.3;
            }    
        }
    }
  }
    
  #menu li > a {
    color: map-get($colorletra, LetraBlanca);
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 110px;
  }
  
  #menu li > a:hover {
    color: #000;
    background-color: #eaeaea;
  }
  
  #menu > li {
    float: left;
    text-align: center;
  }
  
/* PAGINA PRODUCTOS (ANIDACIÓN) */

.fila2{
    height: 90%;
    width: 100%;
    display: flex ;
    background-color: cadetblue;
    .columna3{
        flex-basis: 50% ;
        display: flex ;
        justify-content: center ;
        flex-direction: column ;
        background: map-get($colorespagina, celeste);
        padding-left: 10%;
        padding-right: 10%;
        h1{
            font-size: 74px;
            line-height: 100px;
            margin-bottom: 5px;
            padding-bottom: 80px;
        }
    }
    .columna4{
        flex-basis: 50% ;
        display: flex ;
        justify-content: center ;
        flex-direction: column ;
        background:  map-get($colorespagina, grisAcio);
        padding-top: 50px ;
        
        .columna3grid{
            display: grid ;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto;
            column-gap: 45px;
            row-gap: 120px;
            padding-left: 50px;
            padding-right: 50px;
        div{
            background-color: map-get($colorespagina, celeste);
            width: 100%;
            }
        img{
            width: 100% ;
            height: 100%;
            padding-left: 15px;
            }
        p{
            color: map-get($colorletra, LetraBlanca);
            text-align: center;
            background-color: rgba(63,61,71,255);
            margin-bottom: 0;
            }
        }
    }
}


  /* MARCAS */

  

    .filaMarcas{
        background-color:  map-get($colorespagina, celeste);
        h1{
            font-size: 49px;
            line-height: 70px;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-bottom: 0;
            background-color: map-get($colorespagina, celeste);
            color: white;
        }
    }
    .gridMarcas{
        background-color: $colorceleste ;
        @include grids;
        div{
            @include flexgrids;
            background-color: map-get($colorespagina, grisAcio);
        }
        img{
            align-self: center;
            width: 200px;
            height: 200px;
            padding: 20px;
        }
        p{
            padding: 20px;
            color: white;
        }
    }


  /* NOSOTROS */
  
  .filaNosotros{
    h1{
        font-size: 49px;
        line-height: 70px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 0;
        background-color: $colorceleste;
        color: map-get($colorletra, LetraBlanca);
    }
  }

.gridNosotros{
background-color: $colorceleste;
@include gridsNosotros;
div{
    @include flexgrids;
    background-color:  map-get($colorespagina, grisAcio);
}
img{
    align-self: center;
    width: 250px;
    height: 250px;
    padding: 20px;
}
p{
    padding: 20px;
    color: map-get($colorletra, LetraBlanca);
}
}

/* MEDIA QUERIES INDEX // DEMAS PAGINAS + ANIDACIÓN */

@media screen and (min-width: 320px) and (max-width: 480px) {
    
    .contenido{
    nav{
        display: flex ;
        justify-content: center ;
        align-items: center;
        ul{
            display: none;
        }
    }
    .fila-1{
        display: flex ;
        flex-direction: column;
        .columna1{
            display: flex;
            flex-direction: column ;
            padding-left: 8%;
            padding-right: 8%;
            h1{
                font-size: 49px;
                line-height: 70px;
                margin-bottom: 5px;
                margin-top: 15px;
                text-align: center;
            }
            p{
                text-align: center;
            }
            h2{
                display: flex ;
                justify-content: center ;
                align-items: center; 
            }
            #button{
                margin-bottom: 30px;
                align-self: center;
            }
        
        }
        .columna2{
            display: flex;
            flex-direction: column ;
            .small-img-row{
                display: flex;
                flex-direction: column ;
            }
            .caja1, .caja2{
                display: flex ;
                flex-wrap: nowrap;      
                padding: 20px;
                .img-chica{
                    margin: 20px;
                }  
            }
            h2{
                position: absolute;
                left: 5%;
                top: 12% ;
                font-size: 80px;
                opacity: 0.3;
            }
        }  
    }
    }
    
    
    /* PRODUCTOS */

    .contenido{
        .fila2{
            display: flex ;
            flex-direction: column ;
            .columna3{
                display: block;
                padding-left: 10%;
                padding-right: 10%;
                h1{
                    font-size: 40px;
                    line-height: 70px;
                    margin-bottom: 5px;
                    margin-top: 15px;
                    text-align: center;
                }
                p{
                    text-align: center;
                    margin-bottom: 15px;
                }
            }
            .columna4{
                display: block;
                .columna3grid{
                    display: flex ;
                    flex-direction: column ;
                    background: map-get($colorespagina, grisAcio);
                    row-gap: 60px;
                    div{
                        object-fit: cover ;
                        img{
                            object-fit: contain ;
                        }
                    }
                }
            }
        }
    }

    /* MARCAS */

    .gridMarcas{
        display: flex;
        flex-direction: column;
        div{
            display: block;
        }
    }


    /* NOSOTROS */

    .filaNosotros{
        h1{
            font-size: 30px;
        }
    }
    .gridNosotros{
        display: flex;
        flex-direction: column;
        div{
            display: flex;
            flex-direction: column;
        }
    }

}

/* FIN MEDIA QUERIES */


/* PRUEBA MENU HAMBURGUESA */

.topnav {
    background-color: #333;
    overflow: hidden;
    display: none;
    a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }  
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: #04AA6D;
    color: map-get($colorletra, LetraBlanca);
  }
  .topnav .icon {
    display: none;
  }
  @media screen and (min-width: 320px) and (max-width: 480px){
    .topnav{
        display: flex;
        justify-content: center;
        a{
            font-size: 13px;
        }   
    }
  }

  /* TERMINO LA PRUEBA */

/* PANEL DE CLIENTES */

.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .form {
        background-color: rgb(255, 255, 255);
        width: 400px;
        border-radius: 8px;
        padding: 20px 40px;
        box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
      }
      .title {
        font-size: 50px;
        margin-bottom: 50px;
      }
      .inputContainer {
        position: relative;
        height: 45px;
        width: 90%;
        margin-bottom: 17px;
        .input {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            border: 1px solid #DADCE0;
            border-radius: 7px;
            font-size: 16px;
            padding: 0 20px;
            outline: none;
            background: none;
            z-index: 1;
          }
          .label {
            position: absolute;
            top: 15px;
            left: 15px;
            padding: 0 4px;
            background-color: map-get($colorespagina, blancox);
            color: #DADCE0;
            font-size: 16px;
            transition: 0.5s;
            z-index: 0;
          }
          
      }
  }
    
  ::placeholder {
    color: transparent;
  }
    
  .submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: purple;
    color: map-get($colorletra, LetraBlanca);
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
  }
  
  .submitBtn:hover {
    background-color: #9867C5;
    transform: translateY(-2px);
  }
  
  .input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: purple;
  }
  
  .input:focus {
    border: 2px solid purple;
  }
  
  .input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }
  
  .loginPanel{
    background-color:  map-get($colorespagina, celeste);
  }



