
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*BARRA DE NAVEGACIÓN */



nav a{
    color: #fff ;
}

.contenido{
    width: 100%;
    height: 100%;
    background: #1e2227;
    color: #fff;
}

nav{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 30px 8%;
    position: relative;
    top: 0;
    width: 100%;
    background: #1e2227;   
    z-index: 1; 
}

.logo{
    width: 120px;
    cursor: pointer;
}

.nav-icons img{
    width: 30px;
    margin-left: 30px;
    cursor: pointer;
    position: relative;
}

#menu li>a{
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 110px;
    
}

#menu li>a:hover{
    color: #000;
    background-color: #eaeaea;
}



#menu>li{
    float: left;
    text-align:center
}

ul{
    list-style: none;
}

/* CONTENIDO PRINCIPAL */

.fila-1 ,.fila2{
    height: 90%;
    width: 100%;
    display: flex ;
    background-color: cadetblue;
}

.columna1, .columna2{
    flex-basis: 50% ;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.columna2{
    background: steelblue;
    padding-top: 50px;
    position: relative;
}

.columna1{
    background: #1e2227;
    padding-left: 8%;
}

.columna1 h1{
    font-size: 74px;
    line-height: 100px;
    margin-bottom: 5px;
}

.columna1 h2{
    font-size: 35px;
    margin-top: 60px;
    font-weight: 500;
}

button{
    display: inline-block;
    width: fit-content;
    padding: 18px 50px;
    background-color: steelblue;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
}


/* IMAGEN SHORT */

.rasgos-img{
    width: 100%;
    text-align: center;
}

.rasgos-img img{
    width: 60%;
}

.small-img-row{
    display: flex ;
    width: 80%;
    margin: 40px auto 0;
    align-items: center;
    justify-content: space-around;
}

.img-chica{
    width: 80px;
    height: 80px;
    background: #ccc;
    margin-bottom: 64px;
}

.img-chica img{
    width: 120px;
}

.columna2 h2{
    position: absolute ;
    left: 5%;
    top: 12% ;
    font-size: 130px;
    opacity: 0.3;
}

/* -----  PRODUCTOS */ 

.columna3, .columna4{
    flex-basis: 50% ;
    display: flex ;
    justify-content: center ;
    flex-direction: column ;
}

.columna3{
    background: steelblue ;
    padding-left: 8%  ;
    padding-right: 8% ;
}

.columna4{
    background: #1e2227 ;
    padding-top: 50px ;
}

.columna3 h1{
    font-size: 74px;
    line-height: 100px;
    margin-bottom: 5px;
    padding-bottom: 80px;
}

/* GRILLA COLUMNA 3 */

.columna3grid{
    display: grid ;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 45px;
    row-gap: 120px;
    padding-left: 50px;
    padding-right: 50px;
}

.columna3grid img{
    width: 100% ;
    height: 100%;
    padding-left: 15px;
}

.columna3grid div{
    background: steelblue;
    width: 100%;
}

.columna3grid p{
    color: white;
    text-align: center;
    background-color: rgba(63,61,71,255);
    margin-bottom: 0;
}




/* MEDIA QUERIES INDEX */

@media screen and (min-width: 320px) and (max-width: 480px) {
    

    .fila-1{
        display: flex ;
        flex-direction: column;
    }
    
    .columna1, .columna2{
        display: flex;
        flex-direction: column ;
    }

    #button{
        margin-bottom: 30px;
    }

    .columna1 h1{
        font-size: 53px;
        line-height: 70px;
        margin-bottom: 5px;
        padding-left: 8%;
    }

    .small-img-row{
        display: flex;
        flex-direction: column ;
    }

    .caja1, .caja2{
        display: flex ;
        flex-wrap: nowrap;      
        padding: 20px;  
    }

    .img-chica{
        margin: 20px;
    }

    .columna2 h2{
        position: absolute;
        left: 5%;
        top: 12% ;
        font-size: 80px;
        opacity: 0.3;
    }

    nav ul{
        display: none;
    }

    nav, .columna1 h2{
        display: flex ;
        justify-content: center ;
        align-items: center ;       
    }

    #button{
        align-self: center;
    }


    .columna1{
        padding-left: 0%;
    }

    .columna1 p{
        padding-left: 8%;
    }

    /* PRODUCTOS */

    .fila2{
        display: flex ;
        flex-direction: column ;
    }
    
    .columna3, .columna4{
        display: block;
    }

    .columna3 h1{
        font-size: 49px;
        line-height: 70px;
        margin-bottom: 5px;
        margin-top: 15px;
        text-align: center;
    }

    .columna3grid{
        display: flex ;
        flex-direction: column ;
        background: #1e2227;
    }

    .columna3grid div{
        object-fit: cover ;
    }

    .columna3grid div img{
        object-fit: contain ;
    }

    .columna3 p{
        text-align: center;
        margin-bottom: 15px;
    }

}

/* FOOTER */


